header {
    height: 100px;
    background-color: #2C3E50;
}

.jumbotron {
    min-height: 500px;
    background-color: #1ABC9C;
}

.jumbotron div,
.about div {
    border: 2px solid rgb(255, 255, 255);
}

.portfolio div {
    border: 2px solid rgb(80, 162, 255);
}

.portfolio {
    min-height: 500px;
}

.about {
    min-height: 400px;
    background-color: #1ABC9C;
}