/* GENERICS */
.bar {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #fff;
}

.bar-blue {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #2C3E50;
}

/* HEADER */
header {
    height: 100px;
    background-color: #2C3E50;
}

header a {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 15px;
}

/* JUMBOTRON */
#jumbotron {
    background-color: #1ABC9C;
}

img.avatar {
    height: 300px;
}

/* PORTFOLIO */
#portfolio {
    min-height: 500px;
}

.blue-star-separator {
    color: #2C3E50;
}

#portfolio img {
    max-width: 100%;
    border-radius: 10px;
}

/* ABOUT */
#about {
    min-height: 400px;
    background-color: #1ABC9C;
}

#about .download-btn {
    background-color: #1ABC9C;
    border: 1px solid white;
    font-weight: 400;
}

/* CONTACT */
#contact .form-control {
    border: 0;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
}

form .btn-seagreen {
    background-color: #1ABC9C;
    border: none;
}

#info {
    background-color: #3A546D;
}

/* FOOTER */
.circle-brands {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white
}

footer i {
    font-size: 1.2rem; 
}

.start-bootstrap {
    color: #1ABC9C;
}

.copyright {
    height: 100px;
    background-color: #2C3E50;
}
