header {
    height: 100px;
    background-color: #2C3E50;
}

header a {
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 15px;
}

img.avatar {
    height: 300px;
}

#jumbotron {
    background-color: #1ABC9C;
}

.bar {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #fff;
}

#jumbotron div,
#about div,
#info div {
    /* border: 2px solid rgb(255, 255, 255); */
}

#portfolio div,
#contact div {
    /* border: 2px solid rgb(80, 162, 255); */
}

#portfolio {
    min-height: 500px;
}

.blue-star-separator {
    color: #2C3E50;
}

.bar-blue {
    height: 5px;
    width: 100px;
    border-radius: 5px;
    background-color: #2C3E50;
}

#portfolio img {
    max-width: 100%;
    border-radius: 10px;
}

#about {
    min-height: 400px;
    background-color: #1ABC9C;
}

#about .download-btn {
    background-color: #1ABC9C;
    border: 1px solid white;
    font-weight: 400;
}

#contact .form-control {
    border: 0;
    border-bottom: 1px solid lightgrey;
    border-radius: 0;
}

form .btn-seagreen {
    background-color: #1ABC9C;
    border: none;
}

.message {
    height: 150px;
}

#info {
    min-height: 250px;
    background-color: #3A546D;
}

.copyright {
    height: 100px;
    background-color: #2C3E50;
}
